<table class="table table-hover table-condensed table-bordered">
    <thead class="info">
        <th class="info">C1</th>
        <th>C2</th>
        <th>C3</th>
        <th>C4</th>
    </thead>
    <tbody>
        <tr class="info" *ngFor="let serie of series">
            <td>{{serie.id}}</td>
            <td>{{serie.name}}</td>
            <td>R1.3</td>
            <td>R1.4</td>
        </tr>
    </tbody>
</table>